.desglose #registraMov
{
	position: relative;
	width: 100%;
}
#totalx 
{
	position: relative;
	top: 100px;
	left: 50px;
	height: 200px;
	font-size: 850%;
}
.menux a
{
	text-decoration: none;
	font-size: 25px;
	position: relative;
	top: 25px;
	left: 10px;
	margin-right: 20px;
	color: black;
}
.menux a:hover{
	text-decoration: none;
	color: #3CD87B;
}
.tabla th
{
  background-color: #3CD87B;
  color: white;
  width: 100%;
  margin:0;
}         

.tabla #folio
{

	width: 20%;
}

.tabla #divi
{
	width: 20%;
}
.tabla #ctd, .tabla #cpra, .tabla #vta
{
	width: 20%;
} 
.tabla #vta
{
	width: 20%;
} 

.tabla input
{
	width: 130px;
}

#f1 , #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9, #f10, #f11,#f12,#f13,#f14,#f15,#f16,#f17,#f18,#f19,#f20,#f21,#f22
{
	width: 30px;
}

.botonx
{
	background-color: #3CD87B;
	color: white;
	border-radius: 15px;
	font-size: 12px;
}

.botonx:hover
{
	text-decoration: none;
	color: black;
	z-index: 4;
	text-shadow: 1px 1px 1px #66FF99;
}


#boton
{
	color: #3CD87B;
}

#arqueo input
{
	width: 60px;
}