.desglose #registraMov
{
	position: relative;
	width: 100%;
}
#totalx 
{
	position: relative;
	top: 100px;
	left: 50px;
	height: 200px;
	font-size: 850%;
}
.menux a
{
	text-decoration: none;
	font-size: 25px;
	position: relative;
	top: 25px;
	left: 10px;
	margin-right: 20px;
	color: black;
}
.menux a:hover{
	text-decoration: none;
	color: #3CD87B;
}
.tabla th
{
  background-color: #3CD87B;
  color: white;
  width: 100%;
  margin:0;
}         

.tabla #folio
{

	width: 20%;
}

.tabla #divi
{
	width: 20%;
}
.tabla #ctd, .tabla #cpra, .tabla #vta
{
	width: 20%;
} 

#f22,#f23,#f24,#f25,#f26,#f27,#f28,#f29,#f30,#f31,#f32,#MILS,#m500S,#m200S,#m100S,#m50S,#m20S,#m10S,#m5S,#m2S,#m1S,#m05S
{
	background-color: #FFD1D1;
	
}

#d100Dll,#f15,#d50Dll,#f16,#d20Dll,#f17,#d10Dll,#f18,#d5Dll,#f19,#d2Dll,#f20,#d1Dll,#f21
{
	background-color: #E0FFE0;
}

.tabla #vta
{
	width: 20%;
} 

.tabla input
{
	width: 60px;
}


.botonx
{
	background-color: #3CD87B;
	color: white;
	border-radius: 15px;
	font-size: 12px;
}

.botonx:hover
{
	text-decoration: none;
	color: black;
	z-index: 4;
	text-shadow: 1px 1px 1px #66FF99;
}


#boton
{
	color: #3CD87B;
}

#arqueo input
{
	width: 60px;
}