.tabla
{
	height: 400px;
}
#venta
{
	width: 1200px;
	background-color: #3CD87B;
}
#compra
{
	width: 1200px;
	background-color: #FF4747;
}
#tabCompra th
{
	background-color: #FF4747;
}

#parte1
{
	position: absolute;
	top: 52px;
	left: 0;
width: 49.5%;
height: 31%;
}
#parte1 input
{
	width: 99%;
	height: 99%;
	font-size: 80px;
	box-shadow: 3px 3px 3px #3CD87B;
}
#parte2
{
	position: absolute;
	top: 52px;
	right: 0;
width: 49.5%;
height: 31%;
}
#parte2 input
{
	width: 99%;
	height: 99%;
	font-size: 80px;
	box-shadow: 3px 3px 3px #3CD87B;
}
#parte3
{
	position: absolute;
	top: 202px;
	left: 0;
width: 100%;
height: 42%;
}
#parte3 input
{
	width: 99%;
	height: 99%;
	font-size: 90px;
	box-shadow: 3px 3px 3px #3CD87B;
}
#parte4
{
	position: absolute;
	top: 405px;
	width: 100%;
	height: 10%;
	border-top: dotted;
	border-color:  #3CD87B;
	text-align: center;
}
#parte4 a
{
	color: black;
	font-size: 20px;
}
#parte4 a:hover
{
	color: #3CD87B;
	text-decoration: none;
}
#seleccionado
{
	text-shadow: 2px 2px 2px #3CD87B;;
}
#partea
{
	position: absolute;
	top: 52px;
	left: 0;
width: 49.5%;
height: 31%;
}
#partea input
{
	width: 99%;
	height: 99%;
	font-size: 80px;
	box-shadow: 3px 3px 3px #FF4747;
}
#parteb
{
	position: absolute;
	top: 52px;
	right: 0;
width: 49.5%;
height: 31%;
}
#parteb input
{
	width: 99%;
	height: 99%;
	font-size: 80px;
	box-shadow: 3px 3px 3px #FF4747;
}
#partec
{
	position: absolute;
	top: 202px;
	left: 0;
width: 100%;
height: 42%;
}
#partec input
{
	width: 99%;
	height: 99%;
	font-size: 90px;
	box-shadow: 3px 3px 3px #FF4747;
}
#parted
{
	position: absolute;
	top: 405px;
	width: 100%;
	height: 10%;
	border-top: dotted;
	border-color:  #FF4747;
	text-align: center;
}
#parted a
{
	color: black;
	font-size: 20px;
}
#parted a:hover
{
	color: #FF4747;
	text-decoration: none;
}
#seleccionadod
{
	text-shadow: 2px 2px 2px #FF4747;
}
#selDivisa
{
	position: absolute;
	left: 40%;
	top: 7%;
	font-size: 15px;

}